* {   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, 'Roboto Condensed';
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');

:root {
  --light-grey: #C9C9C9;
  --grey: #8C8C8C;
  --dark-grey: #595959;
  --white: #F2F2F2;
  --light-pink: #F2DFE2;
  --pink: #F2C9CC;
  --dark-pink: #c87e7d;
}

body {
  background-image: linear-gradient(to right, var(--light-pink), var(--light-grey));
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 55rem;
  height: auto;
  padding: 1.5rem;
  margin: auto;
  border-radius: 0.9rem;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--grey);
}

.title, .subtitle {
  color: var(--dark-pink);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--light-pink);
  font-family: 'Poppins';
}

.title, .info-text, .offset, .input-box, .output-container, .result-box, .footer {
  text-align: center;
}

.subtitle {
  text-align: left;
	margin: 2.5rem 1.2rem;
  font-weight: normal;
}

.info-text {
  margin: 0.9rem;
  font-family: 'Poppins';
  font-size: 1.1rem;
}

.offset, .input-box, .output-container, .label, .footer {
  font-size: 1rem;
}

.offset {
  width: 3rem;
  height: 2rem;
  margin: 0.5rem;
}

.cipher-container, .offset-container, .copy-area, .output-container, .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cipher-container {
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.8rem 1rem;
}

.input-box, .output-container, .result-box, .copy-area {
  width: 22rem;
}

.input-box, .output-container {
  height: 15rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--pink);
}

.output-container {
  flex-direction: column;
  background-color: var(--light-grey);
}

.result-box {
  margin: 1rem;
  height: 14rem;
  overflow: auto;
  border: none;
  resize: none;
  background-color: var(--light-grey);
}

.copy {
  font-size: 1.05rem;
  font-weight: bolder;
  color: var(--dark-grey);
}

.copy-area {
  height: 1.7rem;
  justify-content: center;
  gap: 2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.label {
  font-family: 'Poppins';
  margin: 0.5rem;
}

.button-container {
  justify-content: center;
  gap: 2rem;
  margin: 2.5rem;
}

.button {
  border-radius: 0.5rem;
  width: 8rem;
  padding: 0.8rem;
  background-color: var(--grey);
  color: var(--pink);
  font-weight: bolder;
  font-size: 1rem;
}

.button:hover {
  background-color: #B88284;
  color: white;
  transform: scale(1.05);
}

.footer {
  margin: 2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  margin: 25% auto;
  padding: 2rem;
  border: 0.2rem solid var(--dark-pink);
  border-radius: 0.5rem;
  width: 30rem;
  font-size: 1.2rem;
}

.fa-times-circle {
  font-size: 2rem;
}

.fa-times-circle:hover,
.fa-times-circle:focus {
  color: var(--dark-pink);
  cursor: pointer;
}

.fa-arrow-right {
  font-size: 3rem;
}

.icon {
  font-size: 1.5rem;
}

.fas, .fab {
  color: var(--dark-grey);
  margin: 1rem;
}

.contact {
  font-size: 2.5rem;
}

@media (min-width: 360px) and (max-width: 767px){
  .main {
    width: 25rem;
    padding: 1rem;
  }

  .cipher-container {
    justify-content: center;
  }

  .fa-arrow-right {
    transform: rotate(90deg);
  }

  .modal-content {
    width: 22rem;
  }
}
